*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
}
h1{
    color: darkred;
    text-align: center;
    margin-top: 1em;
}
.container{
    margin: 0 auto;
    width: 100%;
}
.mapa{
    position: relative;
}
.puertavino{
    background-color: darkred;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 36.5%;
    left: 48.5%;
    transition: bottom 2s;   
}
.puertavino:hover{
    cursor: pointer;
   
}
.puertavino:hover .inf-tooltip{
    visibility: visible;
}
.inf-tooltip{
    visibility: hidden;
    background-color: darkred;
    color: whitesmoke;
    position: absolute;
    left: 50px;
    top: -100px;
    padding: 1em;
    text-align: center;
    border-radius: 20%;
    width: 150px;
    border: solid 3px grey;
    box-shadow: 10px 10px 10px 2px black;
}
.inf-tooltip img{
    width: 100%;
    padding: 1em;
}
.galana{
    background-color: darkred;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 51%;
    left: 51.5%;
    transition: bottom 2s;   
}
.galana:hover{
    cursor: pointer;
    
   
}
.galana:hover .inf-tooltip{
    visibility: visible;
}
.ganan{
    background-color: darkred;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 30%;
    left: 13%;
    
}
.ganan:hover{
    cursor: pointer;
}
.ganan:hover .inf-tooltip{
    visibility: visible;
}
.ganan .inf-tooltip{
    width: 200px;
}
.obelisco{
    background-color: darkred;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 65.5%;
    left: 46.5%;
}
.obelisco:hover{
    cursor: pointer;
}
.obelisco:hover .inf-tooltip{
    visibility: visible;
}
.obelisco .inf-tooltip{
    width: 300px;
    height: 300px;
}
.obelisco img{
    width: 100px;
    height: 100px;
    
}